<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sobre mi</title>
  </head>
  <body>
    <header>
      <h1>Sobre Mi</h1>
    </header>

    <main>
      <section>
        <p>
          Soy Lucas, tengo 26 años, actualmente estoy estudiando en Digital
          House en la carrera Certified Tech Developer, tambien trabajo como
          analista de workforce management(actualmente homeoffice) hace 5 años.
        </p>
        Vivo en Tucuman, vivo en casa con mi familia.
      </section>
    </main>
  </body>
</html>
